@media (max-width: 1350px) {
    .addTaskDividingBar {
        display: none;
    }

    .addTaskFormContainer {
        flex-direction: column;
        align-items: center;
    }

    .addTaskContentContainer {
        overflow-y: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1120px;
    }

    #addTaskForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clearCreateButtonsContainer {
        position: static;
    }

    .taskAddedMessageContainer {
        height: 70%;
    }

    #taskAddedMessage {
        padding-left: 0;
        width: 400px;
    }
}


@media (max-width: 950px) {
    header {
        left: 0;
        height: 80px;
    }

    header span {
        display: none;
    }

    .JoinLogoHeaderImg {
        display: block;
        margin-left: 32px;
    }

    .fixed-width-104 {
        display: flex !important;
        margin-right: 32px;
    }

    .circle span {
        display: block;
    }

    .addTaskContentContainer {
        left: 0;
        top: 80px;
        bottom: 80px;
        overflow-y: scroll;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headlineAddTaskContainer {
        margin-top: 16px;
    }

    #addTaskForm {
        margin-bottom: 16px;
        margin-left: 8px;
    }

    .data {
        display: none;
    }

    .center {
        display: none;
    }

    .sidebar {
        width: 100vw;
        height: 80px;
        bottom: 0;
        top: auto;
        left: auto;
    }

    .space-around {
        justify-content: center;
    }

    .column {
        flex-direction: row;
    }

    .menu {
        width: 100vw;
        height: 80px;
        gap: 2px;
    }

    .sidebar_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        width: 75px;
        height: 40px;
    }

    .sidebar_nav img {
        width: 24px;
        height: 20px;

    }

    .sidebar_nav:hover {
        background-color: rgba(0, 0, 0, 0.25);
        width: 75px;
        scale: 105%;
        height: 60px;
        border-radius: 12px;
    }

    #navAddTask {
        background-color: rgba(0, 0, 0, 0.15);
        width: 75px;
        height: 60px;
        border-radius: 12px;
    }

    #taskAddedMessage {
        padding-left: 0;
        width: 350px;
    }

    .sidebar_nav img {
        width: 30px !important;
        height: 30px !important;
    }

    .column {
        gap: 4% !important;
        left: 0px;
        position: absolute;
    }

    .menu {
        width: 100% !important;
        height: 100% !important;
    }
}


@media (max-width: 500px) {
    li p {
        overflow: hidden;
    }

    .fontSize20px {
        font-size: 16px;
    }

    .headlineAddTask {
        font-size: 40px;
    }

    .leftAddTaskContainer {
        width: 300px;
    }

    .titleContainer {
        width: 300px;
    }

    .titleInputAddTask {
        width: 300px;
    }

    .descriptionContainer {
        width: 300px;
    }

    .descriptionTextArea {
        width: 300px;
    }

    .assignContactsContainer {
        width: 300px;
    }

    .contactsInputField {
        width: 300px;
    }

    .searchInput {
        width: 300px;
    }

    .dropdownContent {
        width: 298px;
    }

    .rightAddTaskContainer {
        width: 300px;
    }

    .taskDateContainer {
        width: 300px;
    }

    .dateInput {
        width: 300px;
    }

    .prioPickerContainer {
        width: 300px;
    }

    .prioPickerButtonsContainer {
        width: 300px;
        gap: 8px;
    }

    .urgentButton {
        width: 94px;
        height: 48px;
    }

    .mediumButton {
        width: 94px;
        height: 48px;
    }

    .lowButton {
        width: 94px;
        height: 48px;
    }

    .categoryContainer {
        width: 300px;
    }

    .categoryPicker {
        width: 300px;
    }

    .input-container {
        width: 300px;
    }

    .subtask-input {
        width: 300px;
    }

    .add-subtasks-btn {
        top: 38px;
    }

    #subtask-container {
        width: 300px;
    }

    .todo-subtask {
        width: 238px;
    }

    .clearCreateButtonsContainer {
        width: 300px;
    }

    .clearButton {
        width: 100px;
        height: 50px;
        color: #2A3647;
        font-size: 16px;
    }

    .createButton {
        width: 183px;
        height: 50px;
        font-size: 16px;
    }

    #taskAddedMessage {
        padding-left: 0;
        width: 300px;
    }

    @media (max-width: 450px) {
        .sidebar_nav img {
            width: 30px !important;
            height: 30px !important;
        }
    
        .column {
            gap: 5% !important;
            left: 0px;
            position: absolute;
        }
    
        .menu {
            width: 100% !important;
            height: 100% !important;
        }
    }

    @media (max-width: 360px) {
        .sidebar_nav img {
            width: 30px !important;
            height: 30px !important;
        }
    
        .column {
            gap: 3% !important;
            left: 0px;
            position: absolute;
        }
    
        .menu {
            width: 100% !important;
            height: 100% !important;
        }
    }

}