/* Anzeige in Groß */

textarea {
    font-family: 'inter';
}

input {
    font-family: 'inter';
}

select {
    font-family: 'inter';
}

.section-board-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasks-board-big {
    width: 20%;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    z-index: 90;
    transform: translateX(5000px);
    transition: all 400ms ease-in-out;
}

.name-of-task-board-big {
    font-weight: 700 !important;
    font-size: 32px !important;
    color: black !important;
}

.name-of-task-board-big-p {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: black !important;
}

.due-date-priority {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.due-date-priority span {
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

.due-date-priority p {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.priority-div {
    padding: 4px 18px 4px 18px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assigned-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.assigned-to span {
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

.assigned-to-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding-left: 4px;
}

.circle-board-big {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-right: 8px;
}

.contact-name {
    font-family: 'Open Sans';
    font-weight: 400 !important;
    font-size: 16px !important;
    color: black !important;
}

.checkbox {
    border-radius: 3px;
    border: 2px solid #2A3647;
    width: 16px;
    height: 16px;
}

.checkbox-p {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.gap-16 {
    gap: 16px;
}

.padding-left-4 {
    padding-left: 4px;
}

.checkbox-container {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    /* Beispiel für die Schriftgröße */
    color: black;
    /* Beispiel für die Textfarbe */
    font-weight: 400;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container .checkmark {
    width: 12px;
    height: 11.5px;
    border: 2px solid #2A3647;
    /* Beispiel für die Rahmenfarbe */
    border-radius: 3px;
    background-color: #fff;
    /* Weißer Hintergrund */
    overflow: visible;
}

.checkbox-container input[type="checkbox"]:checked+.checkmark {
    background-color: #fff;
    /* Weißer Hintergrund */
    border-color: #000;
    /* Beispiel für die Rahmenfarbe */
}

.checkbox-container .checkmark::after {
    content: "";
    display: none;
    position: absolute;
    left: 6px;
    top: -4px;
    width: 5px;
    height: 15px;
    border: solid #000;
    /* Beispiel für die Farbe des Häkchens */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    /* Drehen um 45 Grad */
}

.checkbox-container input[type="checkbox"]:checked+.checkmark::after {
    display: block;
}

.last-line {
    gap: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
}

.link:hover {
    color: rgb(41, 171, 226);
    font-weight: bold;
}


.vertical-line-board {
    width: 1px;
    height: 24px;
    background-color: #D1D1D1;
}

.animation {
    transform: translateX(0);
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.close-icon {
    cursor: pointer;
}


.task-edit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 48px 56px 48px;
    z-index: 90;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
}

::-webkit-scrollbar {
    height: 2px;
    width: 12px;
    background: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
    background: rgb(168,168,168);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}



.column-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.column-edit span {
    color: #2A3647;
    font-weight: 400;
    font-size: 16px;
}

.edit-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 21px;
    gap: 10px;
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    font-size: 16px;
}

.urgentButton-edit {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        gap: 8px;
        width: 30%;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        flex: none;
        cursor: pointer;
}

.mediumButton-edit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        gap: 8px;
        width: 30%;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        flex: none;
        cursor: pointer;
    
}

.lowButton-edit {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        gap: 8px;
        width: 30%;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        flex: none;
        cursor: pointer;
}

.assignContacts {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    background-image: url(../assets/img/arrow-drop-down.png);
    background-position: 97%;
    background-repeat: no-repeat;
    -webkit-appearance: none !important;
}


.position-relative-board {
    position: relative;
}

.add-subtasks-btn-edit {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.relative {
    position: relative;
}

.flex-board-edit {
    display: flex;
    align-items: center;
    width: 300px;
}

.bg-low {
    background-color: rgb(122, 226, 41) !important;
    color: white !important;
}

.bg-medium {
    background-color: rgb(255, 168, 0) !important;
    color: white !important;
}

.bg-urgent {
    background-color: rgb(255, 61, 0) !important;
    color: white !important;
}

