body {
    font-family: 'Inter';
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

textarea {
    font-family: 'inter';
}

input {
    font-family: 'inter';
}

select {
    font-family: 'inter';
}

button {
    font-family: 'Inter';
}

#navBoard {
    color: #32aee3;
}

.section-board {
    margin-left: 328px;
    margin-right: 64px;
    margin-top: 206px;
    margin-bottom: 206px;
}

.responsive-first-line{
    display: none;
}

.space-between-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-between-board h1 {
    font-weight: 700;
    font-size: 61px;
    color: black;
}

.flex-board {
    display: flex;
    align-items: center;
}

.input-container-board {
    position: relative;
    display: inline-block;
}

.inputfield-icon-search {
    position: absolute;
    right: 5px;
    top: 25px;
    transform: translateY(-50%);
    width: 22px;
}

.inputfield-icon-vertical-line {
    position: absolute;
    right: 55px;
    top: 25px;
    transform: translateY(-50%);
    width: 2px;
}

.inputFindTask {
    height: 27px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    width: 95%;
    display: flex;
    align-items: center;
}


.addTaskOnBoard-Button {
    width: 160px;
    height: 48px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.addTaskOnBoardResponsive-Button {
    width: 40px;
    height: 40px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 3px;
    gap: 10px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    display: none;
}



.gap-32 {
    gap: 32px;
}

.column-board {
    display: flex;
    flex-direction: column;
}

.board-distribution {
    margin-top: 32px;
    display: flex;
    width: auto;
    height: auto;
    gap: 56px;
}

.card-board{
    width: 200px;
}

.fields {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 16px;
}

.title-board {
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}

.plus-border-board {
    cursor: pointer;
    object-fit: cover;
}

.no-tasks-board{
border: 1px solid #A8A8A8;
border-radius: 10px;
gap: 10px;
background-color: #E7E7E7;
color: #A8A8A8;
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
display: flex;
justify-content: center;
align-items: center;
height: 48px;
width: 200px;
text-align: center;
}

.tasks-board{
background-color: white;
border-radius: 24px;
padding: 16px;
gap: 10px;
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
align-items: flex-start;
cursor: pointer;
width: 172px;
position: relative;
}

.tasks-board:hover{
    transform: rotate(5deg);
}

.height-board{
    height: 48px;
}

.height-board {
    height: 48px;
}

.align-center-board {
    display: flex;
    align-items: center;
}

.user-story-board-big {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
    gap: 10px;
    color: white;
    width: 160px;
    height: 36px;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technical-task-board-big {
    background: #1FD7C1;
    border-radius: 8px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    color: white;
    width: 160px;
    height: 36px;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-story-board {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    color: white;
    width: 113px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technical-task-board {
    background: #1FD7C1;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    color: white;
    width: 113px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-of-task-board {
    width: auto;
    height: auto;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.name-of-task-board span {
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
}

.name-of-task-board p {
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    overflow: hidden;
    text-overflow:ellipsis;
}

.progressbar-background {
    width: 50%;
    height: 8px;
    background-color: #F4F4F4;
}

.progressbar-board {
    background-color: #4589FF;
    height: 8px;
}

.sub-tasks {
    font-weight: 400;
    font-size: 12px;
    color: black;
}

.card-board-title{
    width: 100%;
}

.width-100percent {
    width: 100%;
}

.width-80percent{
    width: 80%;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.margin-top-16 {
    margin-top: 16px;
}

.circle-board {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
}

.margin-left-9px {
    margin-left: -9px;
}

.colorWhite {
    color: white;
}

.background-color-orange {
    background-color: #FF7A00;
    ;
}

.background-color-pink {
    background-color: #FC71FF;
}

.background-color-violet {
    background-color: #6E52FF;
}

.background-color-violet2 {
    background-color: #9327FF;
}

.background-color-yellow {
    background-color: #FFBB2B;
}

.background-color-red {
    background-color: #FF4646;
}

.background-color-green {
    background-color: #1FD7C1;
}

.background-color-darkblue {
    background-color: #462F8A;
}

.background-color-lightblue {
    background-color: #00BEE8;
}

.priority-icon-board {
    width: 23px;
    height: 10px;
}

.d-none {
    display: none;
}

.section-board-responsive{
    display: none;
}

.margin-top-32{
    margin-top: 32px;
}

.fieldRequiredText2{
    display: none;
}







