body {
    margin: 0px;
    font-family: "Inter";
    background-color: rgb(230, 228, 228);
}

button {
    font-family: "Inter";
}

textarea {
    font-family: 'inter';
}

input {
    font-family: 'inter';
}

select {
    font-family: 'inter';
}

.centerAll {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.joinLogo {
    position: fixed;
    width: 100px;
    height: 122px;
    top: 67px;
    left: 77px;
}

.blur {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 1s ease, filter 1s ease;
}

#meinBild {
    position: fixed;
    top: 35%;
    left: 45%;
    width: 10%;
    transition: all 1s ease;
    z-index: 100;
    object-fit: cover;
}

#zielbereich {
    position: absolute;
    width: 100px;
    height: 122px;
    top: 67px;
    left: 77px;
}


.notAJoinUser {
    position: fixed;
    display: flex;
    width: 330px;
    height: 49px;
    top: 67px;
    right: 5%;
    gap: 35px;
    align-items: center;
    justify-content: center;
}


.notAJoinUserText {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 24px;
}


.notAJoinUserButton {
    background-color: rgb(42, 54, 71);
    color: white;
    width: 115px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 17px;
    cursor: pointer;
}


.LogInField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 652px;
    height: 493px;
    background-color: white;
    border-radius: 30px;
    padding: 48px, 115px, 48px, 115px;
    gap: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.displayFLex {
    display: flex;
}

.displayColumn {
    display: flex;
    flex-direction: column;
}

.greeting {
    font-weight: 500;
    font-size: 47px;
    color: #2A3647;
}

.greeting-name {
    font-weight: 700;
    font-size: 64px;
    color: #29ABE2;
}


.justifyContent {
    justify-content: space-around;
}


.emailPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 422px;
    height: 196px;
}


.LogInBottomLogIn {
    width: 322px;
    height: 48px;
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 10px;
}



.inputfield-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
}

.lock-icon:hover {
    cursor: pointer;
}


.input-container {
    position: relative;
    display: inline-block;
}


.rememberMe {
    display: flex;
    gap: 20px;
    padding-left: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: flex-start !important;
    width: 100%;
}


.emailPasswordInputColumn {
    display: flex;
    flex-direction: column;
    height: 152px;
    justify-content: space-around;
}


.titleLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 315px;
    height: 89px;
    font-size: 80px;
    font-weight: bold;
}


.inputEmail {
    height: 27px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    width: 95%;
    display: flex;
    align-items: center;
}


.inputPassword {
    height: 27px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    width: 95%;
    display: flex;
    align-items: center;
}


.rememberMe {
    display: flex;
    align-items: center;
    font-size: 20px;
}


.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.logInButton {
    background-color: rgb(42, 54, 71);
    color: white;
    width: 115px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}


.guestLogInButton {
    background-color: rgb(255, 255, 255);
    color: rgb(42, 54, 71);
    ;
    width: 170px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}


.privacyPolicyLegalNotice {
    font-size: 20px;
    display: flex;
    position: relative;
    width: 330px;
    height: 35px;
    top: 6%;
    justify-content: space-around;
}

.PrivacyPolicy {
    text-decoration: none;
    color: #A8A8A8;
}

.PrivacyPolicy:hover {
    cursor: pointer;
    color: #32aee3;
}

.LegalNotice {
    text-decoration: none;
    color: #A8A8A8;
}

.LegalNotice:hover {
    cursor: pointer;
    color: #32aee3;
}


.custom-checkbox input {
    opacity: 0;
    position: absolute;
}


.custom-checkbox .checkmark {
    display: inline-block;
    top: 3px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}


.custom-checkbox input:checked+.checkmark:after {
    content: "\2713";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000;
}

/* Stile für das Passwortfeld bei Fehler */
.inputPassword.error {
    border: 1px solid rgb(255,128,143);
  }
  
  /* Stile für die Fehlermeldung */
  .error-message {
    color: rgb(255,128,143);
    font-size: 12px;
    visibility: hidden; /* Anfangs nicht sichtbar */
  }
  
  .error-message.visible {
    visibility: visible;
  }

@media (min-height: 1305px) and (max-width: 1320px) {
    #zielbereich {
        position: absolute;
        width: 100px;
        height: 122px;
        top: 15% !important;
        left: 77px;
    }

    #meinBild {
        width: 70px;
        top: 50%;
        left: 45%;
    }

    .notAJoinUser {
        position: fixed;
        display: flex;
        width: 100%;
        height: 49px;
        top: 74%;
        right: 0%;
        gap: 35px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 945px) and (max-width: 700px) {
    #zielbereich {
        position: absolute;
        width: 50px;
        height: 70px;
        top: 3% !important;
        left: 77px;
    }

    #meinBild {
        width: 70px !important;
        top: 50%;
        left: 45%;
    }

    .notAJoinUser {
        position: fixed;
        display: flex;
        width: 100%;
        height: 49px;
        top: 83%;
        right: 0%;
        gap: 35px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .LogInField {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 106%;
        height: 493px;
        background-color: white;
        border-radius: 30px;
        padding: 48px, 115px, 48px, 115px;
        gap: 32px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .privacyPolicyLegalNotice {
        font-size: 20px;
        display: flex;
        position: relative;
        height: 35px;
        top: 12%;
        justify-content: space-around;
        scale: 0.9;
    }

    .LogInBottomLogIn {
        height: 120px;
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }

    .logInButton {
        background-color: rgb(42, 54, 71);
        color: white;
        width: 180px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }

    .guestLogInButton {
        background-color: rgb(255, 255, 255);
        color: rgb(42, 54, 71);
        width: 180px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }

    .LogInField {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 106%;
        height: 600px;
        background-color: white;
        border-radius: 30px;
        padding: 48px, 115px, 48px, 115px;
        gap: 32px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}


@media (max-width: 550px) {
    .LogInField {
        scale: 0.9;
    }

    .formLogIn {
        width: 90%;
        margin-right: 5%;
    }
}

@media (max-width: 470px) {
    .LogInField {
        scale: 0.9;
    }

    .notAJoinUser {
        gap: 10px;
        scale: 0.9;
    }
}

.emailPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 422px;
    height: 196px;
    align-items: center;
}

.emailPasswordInputColumn {
    display: flex;
    flex-direction: column;
    height: 152px;
    justify-content: space-around;
    width: 90%;
}

@media (max-width: 470px) {
    .emailPasswordInputColumn {
        display: flex;
        flex-direction: column;
        height: 152px;
        justify-content: space-around;
        width: 80%;
    }

    .privacyPolicyLegalNotice {
        font-size: 20px;
        display: flex;
        position: relative;
        height: 35px;
        top: 12%;
        justify-content: space-around;
        scale: 0.9;
    }
}

@media (max-width: 430px) {
    .emailPasswordInputColumn {
        width: 90%;
    }

    .emailPassword {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 422px;
        height: 196px;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 400px) and (max-height: 850px) {
    #zielbereich {
        position: absolute;
        width: 50px;
        height: 70px;
        top: 2%;
        left: 77px;
    }

    #meinBild {
        width: 70px !important;
        top: 50%;
        left: 45%;
    }
}

@media (max-width: 400px) and (max-height: 670px) {
    .LogInField {
        scale: 0.75;
        top: 5%;
        position: relative;
    }

    .notAJoinUser {
        top: 87%;
        scale: 0.9;
    }

    .privacyPolicyLegalNotice {
        top: 2%;
        scale: 0.7;
    }

    .formLogIn {
        width: 100%;
    }
}