@media (min-height: 1305px) and (max-width: 1320px) {
    .sidebar {
        background-color: #2a3647;
        width: 100% !important;
        position: fixed;
        bottom: 0 !important;
        height: 80px !important;
        top: auto !important;
    }

    .showAllContacts {
        width: 80%;
        top: 1%;
        height: 87%;
    }
}

@media (max-height: 945px) and (max-width: 1320px) {
    .sidebar {
        background-color: #2a3647;
        width: 100% !important;
        position: fixed;
        bottom: 0 !important;
        height: 80px !important;
        top: auto !important;
    }
}


@media  (max-width: 1320px) {
    .menu {
        width: 100% !important;
        height: 100% !important;
        gap: 0px !important;
    }

    .sidebar_nav {
        width: 100px !important;
        padding: 0px !important;
        height: 100%;
    }

    .circle {
        width: 40px !important;
        height: 40px !important;
    }

    .data {
        display: none;
    }

    .circle {
        width: 40px !important;
        height: 40px !important;
    }

    .sidebar {
        z-index: 4;
    }

    .sidebar {
        background-color: #2a3647;
        width: 100% !important;
        position: fixed;
        bottom: 0 !important;
        height: 90px !important;
        top: auto !important;
    }

    .sidebar_nav span {
        display: flex;
        width: auto !important;
    }

    .center-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .column {
        display: flex !important;
        flex-direction: row !important;
    }

    .center {
        display: none;
    }


    .data_nav {
        display: none;
    }

    header {
        display: flex;
        z-index: 12 !important;
        width: 100%;
        left: 0px !important;
        height: 80px !important;
    }

    .headline {
        display: none;
    }

    .JoinLogoHeaderImg {
        display: flex !important;
        margin-left: 40px;
    }

    .fixed-width-104 {
        margin-right: 4% !important;
        display: flex;
    }

    .circle {
        width: 40px !important;
        height: 40px !important;
    }

    .help-icon {
        display: none;
    }
}

@media(max-width: 800px){
    .help-section {
        padding-top: 100px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 730px) {
    .column {
        gap: 2% !important;
        left: 0px;
    }

    .sidebar_nav {
        padding: 0px !important;
    }

    .sidebar_nav {
        width: 100px !important;
        padding: 0px !important;
        height: 100%;
    }
}


@media (max-width: 600px) {
    .column {
        gap: 8% !important;
        left: 0px;
    }

    .sidebar_nav {
        width: 100px !important;
        padding: 0px !important;
        height: 100%;
    }

    .fixed-width-104 {
        margin-right: 4% !important;
    }

    .sidebar_nav {
        width: 100px !important;
        padding: 0px !important;
    }
}


@media (max-width: 450px) {
    .column {
        gap: 4% !important;
        left: 0px;
    }
}