@media(max-width: 1242px){
    .flex-start-respo{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .headline-summary{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 22px;
        margin-top: 0px;
    }

    .vertical-line{
        display: none;
    }

    .horizontal-line{
        display: block;
    }

    .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 32px;
        margin-bottom: 200px;
    }

    .left-content{
        margin-top: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 320px;
    }

    .To-do{
        width: 150px;
        height: 110px;
    }

    .circle-summary{
        width: 40px;
        height: 40px
    }

    .circle-summary img{
        width: 20px;
        height: 20px
    }


    .column-summary div{
        font-size: 47px;
    }

    .column-summary span{
        font-size: 14px;
    }

    .second-line{
        width: 320px;
        height: 110px;
        display: flex;
        justify-content: center;
    }

    .urgency{
        width: 15%;
        margin-left: 50px;
        height: 96px;
        gap: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .urgency img{
        width: 40px;
        height: 40px;
    }

    .grey-vertical-line{
        position: static;
    }

    .date{
        font-weight: 700 !important;
        font-size: 16px !important;
    }

    .deadline{
        font-weight: 400 !important;
        font-size: 14px !important;
    }

    .tasks{
        width: 100px;
        height: 100px;
        gap: 0;
    }

    .tasks div{
        font-weight: 600;
        font-size: 47px;
    }
    
    .tasks span{
        font-weight: 400;
        font-size: 14px;
    }

    .right-content{
        display: none;
    }

}

@media(max-width: 500px){
    .left-content{
        width: auto;
    }

    .first-line{
        width: 300px;
    }

    .second-line{
        width: 300px;
    }

    .tasks{
        width: 90px;
    }

    .To-do{
        width: 115px;
    }

    .flex-start-respo{
        margin-top: 100px;
    }

    .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 32px;
    }
}

@media(max-width: 330px){
    .left-content{
        width: 280px;
    }

    .first-line{
        width: 280px;
    }

    .second-line{
        width: 280px;
    }

    .gap-13{
        margin-right: 20px;
    }
}
