<nav id="nav" class="sidebar column space-around">
  <a href="https://join-140.developerakademie.net/Join-140/Login.html" class="center dontShowJoinLogoOnMobile">
    <img class="sidebar_logo dontShowJoinLogoOnMobile" src="./assets/img/sidebar_logo.png" />
  </a>
  <div class="column center-nav menu">
    <a href="#" onclick="openSummary()" id="navSummary" class="sidebar_nav center-nav">
      <img src="./assets/img/summary_icon.png" /><span>Summary</span>
    </a>
    <a href="#" onclick="openAddTask()" id="navAddTask" class="sidebar_nav center-nav">
      <img src="./assets/img/addTask_icon.png" /><span>Add Task</span>
    </a>
    <a href="#" onclick="openBoard()" id="navBoard" class="sidebar_nav center-nav">
      <img src="./assets/img/board_icon.png" /><span>Board</span>
    </a>
    <a href="#" onclick="openContacts()" id="navContacts" class="sidebar_nav center-nav">
      <img src="./assets/img/contacts_icon.png" /><span>Contacts</span>
    </a>
  </div>
  <div class="data">
    <div class="data_nav">
      <a href="https://join-140.developerakademie.net/Join-140/privacyPolicy.html" id="navPP">Privacy Policy</a>
    </div>
    <div class="data_nav">
      <a href="https://join-140.developerakademie.net/Join-140/legalNotice.html" id="navLN">Legal Notice</a>
    </div>
  </div>
</nav>